<template lang="pug">
  v-content
    v-parallax(src="/img/homepage/boot.png" height="400")
      v-layout(justify-end column)
        h1.mt-5.white--text(style="font-weight:normal;") Duikschool
    v-layout(column wrap my-5 align-center)
      v-flex(xs12 sm4 my-3 text-xs-center)
        h2.headline Onze Duikschool
        .subheading Een ideale manier om te starten met duiken!
      v-flex(xs12)
        v-container(grid-list-xl)
          v-layout(row wrap)
            v-flex(xs12)
              v-card-title(primary-title).justify-center.headline Droom je al geruime tijd van de fascinerende onderwaterwereld?
              v-flex(xs12 md5 style="margin:auto;")
                v-card.elevation-0.transparent
                  v-card-text Neem dan contact op met één van onze duikinstructeurs, we geven je met plezier een duikinitiatie in het zwembad van Sportcentrum ‘De Krekel’ te Izegem. We beantwoorden graag uw vragen na de duikinitiatie  bij een gezellige babbel in ‘den bar’. Daar proef je ondertussen ook van de familiale sfeer bij NDI. 
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Opleidingen
                v-card-text Wij begeleiden en verzorgen alle perslucht brevetten (vanaf 1* duiker tot duikinstructeur), eveneens is het mogelijk om Nitrox brevetten bij ons te behalen. (zie ook Opleidingen)
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Wat heb je nodig voor de zwembad trainingen?
                v-card-text duikbril, snorkel, zwemvliezen, loodgordel, zwembroek/badpak
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Openwaterduiken
                v-card-text Voor de openwaterduiken kan je tijdens uw 1ste jaar van aansluiting, gratis een duikfles, ontspanner, manometer, trimvest gebruiken van de duikclub.
            v-flex(xs12)
              v-flex(xs12 md5 style="margin:auto;")
                v-card.elevation-0.transparent
                  v-card-title(primary-title).justify-center.headline Duikinitiaties
                  v-card-text 
                    | Bij Nautic Duikersclub Izegem (NDI) kan je vrijblijvend kennis maken met de duiksport via een 3-tal duikinitiaties. 
                    | Daarna beslis je om wel of niet verder te gaan met de duiksport.                  
                    | Voor een initiatie kan je een duikbril, snorkel, zwemvliezen en loodgordel gebruiken van de club, breng enkel je zwembroek/zwempak mee. 
                    p We vragen een bijdrage van 30€ voor de 3 duikinitiaties, dit is tevens de korting die je krijgt wanneer je het eerste jaar lid wordt van NDI.
                    p Onze jaarlijkse duikinitiaties gaan door tussen 15 november en 15 december. Duikinitiaties worden mogelijks ook op andere tijdstippen in het jaar georganiseerd, wanneer, neem daarvoor contact op met de duikschoolverantwoordelijke <a href="mailto:dsv@nauticduikersclubizegem.be">dsv@nauticduikersclubizegem.be</a>.
                    p Nieuwe leden kunnen starten vanaf 1 januari met de voorbereiding voor het behalen van hun 1* duiker. Begin april start je dan met openwaterduiken.
                    | Reeds helemaal overtuigd dat duiken iets voor jou is? Bekijk dan 
                    a(@click="$router.push('/startenmetduiken/lidworden')") hier 
                    | hoe je lid kan worden.
</template>






