<template lang="pug">
  v-content
    v-parallax(src="/img/nemo.jpg" height="400")
      v-layout(justify-end column)
        h1.mt-5.white--text(style="font-weight:normal;") Lid worden
    v-layout(column wrap my-5 align-center)
      v-flex(xs12 sm4 my-3)
      v-flex(xs12)
        v-container(grid-list-xl)
          v-layout(row wrap)
            v-spacer
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Initiatielessen
                v-card-text
                  | Bij Nautic Duikersclub Izegem wensen we de potentiële nieuwe leden de mogelijkheid beiden tot het volgen van 3 initiatie lessen.
                  | Deze lessen hebben als doel een beeld te vormen van wat het duiken inhoud en wat Nautic Duikersclub Izegem u kan bieden.
                  | Na het volgen van deze initiatie lessen beslist u dan om lid te worden van onze club.
            v-spacer
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Opleidingen
                v-card-text
                  | Nautic Duikersclub Izegem beschikt over een uitgebreid kader die opleidingen kan verzorgen tot en met Assitent Instructeur.
                  | Op het gebied van het technisch duiken kunnen wij opleidingen verzorgen tot Gevorderd Nitrox duiker en Trimix Blender. Zie de "Opleidingen" pagina voor verdere info
            v-spacer
            v-flex(xs12)
              v-flex(xs12 md5 style="margin:auto;")
                v-card.elevation-0.transparent
                  v-card-title(primary-title).justify-center.headline Wat kost het om lid te worden?
                  v-card-text(style="white-space:pre-line;")
                    P 1ste jaar inschrijving bij onze club 325€ (incl. de 15 euro die je betaalt voor de 3 initiatielessen) 
                    | hierin inbegrepen :
                    ul
                      li Nelos bijdrage (duikfederatie)
                      li Internationale duikverzekering (Arena)
                      li Abonnement Hippocampus (duikmagazine, 4 uitgaven/jaar)
                      li Clubwerking en administratie
                      li Toegang tot zwembad tijdens clubtrainingen op vrijdagavond en dinsdagavond
                      li Gebruik van duikmaterieel tijdens trainingen en opleidingen
                      li Gebruik van duikfles, ontspanner + manometer, trimvest voor openwaterduiken
                      li Gratis vullen van duikflessen
                      li Alle zwembad- en theorielessen
                      li Nelos documententasje (duikboekje, logboekje, cursus 1*duiker, medische fiche,…)
                      li Homologatie 1* brevet                
                      li Lidgeld vanaf het 2de jaar 125€.
                      li Tweede lid: 70€
                    p
                    | Extra info over ons secretariaat
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Wie?
                v-card-text
                  | De secretaris is de contact persoon tussen de clubleden en de duik federatie Nelos.
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Wat?
                v-card-text
                  | U kunt terecht bij het secretariaat met volgende vragen:
                  | Lidgelden en homologatie gelden
                  | Duiksport Verzekering
                  | Medische keuringen
                  | Invul formulier mutualiteit – tussenkomst lidgeld
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Hoe?
                v-card-text
                  | Wenst u meer informatie te verkrijgen of wenst u lid te worden van onze club, neem dan contact op via mail (<a href="mailto:dsv@nauticduikersclubizegem.be">dsv@nauticduikersclubizegem.be</a>)
</template>

