<template lang="pug">
  v-content
    v-parallax(src="/img/homepage/pieter.png" height="400")
      v-layout(justify-end column)
        h1.mt-5.white--text(style="font-weight:normal;") Opleidingen
    v-layout(column wrap my-5 align-center)
      v-flex(xs12 sm4 my-3 text-xs-center)
        h2.headline Onze Opleidingen
        .subheading Wegens het ruime en goed opgeleide kader kan je bij de NDI duikschool de volgende opleidingen volgen
      v-flex(xs12)
        v-container(grid-list-xl)
          v-layout(row wrap align-start text-xs-center)
            v-flex(xs12)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Zwembadopleiding
                v-card-text Zwembadopleidingen tot Assistent Instructeur
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Theoretische opleidingen
                v-card-text Theoretische opleidingen tot Assistent Instructeur
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Technische opleidingen
                v-card-text Nitrox opleidingen tot Nitrox Instructeur alsook initiaties in het technisch duiken (CCR)
            v-flex(xs12 md4)
              v-card.elevation-0.transparent
                v-card-title(primary-title).justify-center.headline Varia
                v-card-text Hiernaast organiseert NDI ook jaarlijks 2 duikweekends en kan je uw duikflessen laten vullen in het club lokaal.
</template>

<script>
export default {
  
}
</script>
