<template lang="pug">
  v-snackbar(
    v-model="value"
    bottom
    left
    :timeout="5000"
  )
    v-icon(:color="snackbar.color") {{snackbar.icon}}
    span(style="margin-left:14px;") {{snackbar.text}}
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      snackbar: 'snackbar/snackbar'
    }),
    value: {
      get () {
        return this.$store.state.snackbar.snackbar.value
      },
      set (value) {
        this.$store.commit('snackbar/setValue', value)
      }
    }
  },
  methods: {
    close () {
      this.$store.commit('snackbar/setSnackbar', { value: false })
    }
  }
}
</script>
<style>
.v-snack__content {
    width:unset;
    padding:14px;
}
</style>
