<template lang="pug">
  v-app(light)
    snackbar
    v-toolbar(dense fixed scroll-off-screen)
      v-toolbar-items.hidden-sm-and-down
        v-layout(v-for="item in navigation" :key="item.title")
          v-btn(flat v-if="item.to" :to="item.to") {{item.title}}
          v-menu(offset-y v-else style="height:100%;")
            v-btn(slot="activator" flat) {{item.title}}
            v-list.py-0
              v-list-tile(v-for="subitem in item.items" :key="subitem.title" :to="subitem.to")
                v-list-tile-title {{subitem.title}}
      v-toolbar-side-icon.hidden-md-and-up(@click="drawer = true")
      v-spacer
      v-btn(outline to="/login" v-if="false") login
      v-menu(offset-y v-if="$store.state.user" style="height:100%;")
        v-btn(slot="activator" outline) {{$store.state.user.username}}
        v-list.py-0
            v-list-tile(to="/profiel")
              v-list-tile-title Profiel
            v-list-tile(@click="logout")
              v-list-tile-title Log uit
    v-navigation-drawer(
      fixed
      temporary
      floating
      lazy
      stateless
      hide-overlay
      :width="width"
      v-if="loaded"
      v-model="drawer"
    )
        v-layout
          v-btn(icon @click="drawer = false")
            v-icon close
        v-list
          div(v-for="item in navigation" :key="item.title")
            v-list-tile(@click="drawer = false" v-if="!item.items" :to="item.to")
              v-list-tile-title {{item.title}}
            v-list-group(v-else)
              v-list-tile(slot="activator")
                v-list-tile-title {{item.title}}
              v-list-tile(v-for="subitem in item.items" :key="subitem.title" @click="drawer = false" :to="subitem.to")
                v-list-tile-title {{subitem.title}}
    v-content.pt-5
      nuxt
    v-footer.pa-3
      v-spacer
      span NDI &copy; {{ new Date().getFullYear() }}
      a(href="https://www.trikthom.com/" style="text-decoration:unset;color:unset;").ml-2 Made By TrikThom
</template>

<script>
import Snackbar from '@/components/Snackbar'
export default {
  components: { Snackbar },
  data () {
    return {
      drawer: false,
      width: 0,
      loaded: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/')
      })
    }
  },
  computed: {
    navigation () {
      if (this.$store.state.user == null) {
        return [
          { title: 'Startpagina', to: '/' },
          { title: 'Starten met duiken',
            items: [
              { title: 'Duikschool', to: '/startenmetduiken/duikschool' },
              { title: 'Lid worden', to: '/startenmetduiken/lidworden' },
              { title: 'Opleidingen', to: '/startenmetduiken/opleidingen' },
              { title: 'Materiaal', to: '/startenmetduiken/materiaal' }
            ]
          },
          {
            title: 'Duikclub',
            items: [
              { title: 'Geschiedenis', to: '/duikclub/geschiedenis' },
              { title: 'Bestuur', to: '/duikclub/bestuur' }
            ]
          }
        ]
      } else {
        return [
          { title: 'dashboard', to: '/dashboard' },
          { title: 'Evenementen', to: '/evenementen' }
        ]
      }
    }
  },
  mounted () {
    this.width = window.innerWidth
    this.loaded = true
  }
}
</script>


<style>
* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
::-webkit-scrollbar {
  overflow:hidden;
  width: 0;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.v-toolbar__content .v-btn--icon {
  margin-left: -6px;
}
h1 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 67.2px;
  }
}
h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 33.6px;
  }
}
h3 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: normal;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 27px;
  }
}
h4 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: normal;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h4 {
    font-size: 20.4px;
  }
}
h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h5 {
    font-size: 14.399999999999999px;
  }
}
h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  h6 {
    font-size: 12px;
  }
}
subheading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
  subheading {
    font-size: 9.6px;
  }
}
</style>
