<template lang="pug">
v-container(fluid)
  v-layout
    v-btn(icon @click="$router.go(-1)")
        v-icon arrow_back
    v-layout(align-center)
        .headline(v-if="error.statusCode === 404") Pagina niet gevonden
        .headline(v-else) An error occurred: {{error.message}}
</template>
<script>
export default {
  props: ['error']
}
</script>