<template lang="pug">
  v-container(fluid)
    v-card
      v-card-title.headline Gebruikers
      v-data-table(
        :items="users"
        :loading="loading"
        :headers="headers"
      )
        template(slot="items" slot-scope="props")
          td(v-for="header in headers" :key="header.value") {{props.item[header.value]}}
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      headers: [
        { text: 'UUID', value: 'uuid' },
        { text: 'Username', value: 'username' },
        { text: 'Email', value: 'email' },
        { text: 'Role', value: 'rank' }
      ],
      loading: true
    }
  },
  computed: {
    ...mapGetters({
      users: 'dashboard/users'
    })
  },
  mounted () {
    this.$store.dispatch('dashboard/getUsers').then(() => {
      this.loading = false
    })
  }
}
</script>
