<template lang="pug">
  v-container(fluid)
    v-card
      span {{events}}
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      headers: [
        { text: '' }
      ],
      loading: true
    }
  },
  computed: {
    ...mapGetters({
      events: 'events/events'
    })
  },
  mounted () {
    this.$store.dispatch('events/getEvents').then(() => {
      this.loading = false
    })
  }
}
</script>
