<template lang="pug">
  v-container(fluid)
    v-layout(justify-center)
      v-flex(xs12 md4 xl2)
        v-card
          v-container(fluid)
            v-text-field(type="text" label="Gebruiker" v-model="user")
            v-text-field(type="password" label="Wachtwoord" v-model="password")
            a Wachtwoord vergeten?
            v-layout.mt-4(justify-center)
              v-btn.primary(large @click="login" :loading="loading") log in
</template>
<script>
export default {
  data () {
    return {
      user: null,
      password: null,
      loading: false
    }
  },
  methods: {
    login () {
      this.loading = true
      this.$store.dispatch('login', 'username=' + this.user + '&' + 'password=' + this.password).then((response) => {
        this.$store.commit('setUser', {
          username: this.user
        })
        this.$router.push('/dashboard')
        this.loading = false
      }).catch((response) => {
        this.loading = false
        this.$store.commit('snackbar/setSnackbar', {
          value: true,
          text: response,
          icon: 'highlight_off',
          color: 'error'
        })
      })
    }
  }
}
</script>
